:root {
    --bg-color: linear-gradient(90deg, rgba(85,95,105,1) 0%, rgba(29,30,33,1) 100%);
    --primary-color: #ccd3da;
    --secondary-color:#555f69;
    --read-color: black;
    --accent-color: #0d6efd;
    --contras-color: white;
    --Gold-Color: #ffd300;
    --font-1: 'Asap', sans-serif;
    --font-2: 'Khand', sans-serif;
    --font-3: 'Lobster', cursive;
    --font-ui: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    --bg-img: url(https://images.unsplash.com/photo-1579468118288-682e600b8565?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80);
    --loader-bg-img:url(https://images.unsplash.com/photo-1645905159052-0dc842ada711?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1586&q=80);
}

/* DeskTOP */
    body {
        color: var(--secondary-color);
        background-image: var(--bg-img);
        background-attachment: fixed;
        background-size: cover;
        background-repeat: no-repeat;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }
    .hideIt {
        display: none;
    }
    main {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0;
        padding: 0;
        
    }
    /* LOADER Progress Bar */
    #LoaderDIV {
        position: absolute;
        width: 100%;
        height: 100vh;
        z-index: 9999;
        background-image: var(--loader-bg-img);
        background-size: cover;
        background-blend-mode: darken;
        top: 0;
    }
    #Loader {
        position: absolute;
        left: 50%;
        top: 50%;
        width: 15em;
        height: 15em;
        transform: translate( -50%, -90% );
        text-align: center;
    }
    #LoaderGIF{
        width: 5em;
    }
    #Loader h2 {
        color: var(--primary-color);
        font-size: 2.5em;
        -webkit-text-stroke: 0.02em  var(--read-color) 
    }
    #LoaderSmallGIF {
        position: absolute;
        width: 2em;
        height: 2em;
        left: 50%;
        right: 50%;
        transform: translate( -50%, -50% );
        text-align: center;
    }
    /* Header & NAV */
    header {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        background: var(--bg-color);
        font-family: var( --font-ui);
        width: 100%;
        height: 6.5rem;
        padding: 0;
        margin: 0;
        text-align: center;
        align-items: center;
        justify-content: center;
        padding-left: 2rem;
        padding-right: 2rem;
    }
    header h1 {
        font-size: 2.5em;
        font-family: var(--font-3);
        padding-left: 0.5em;
        color: var(--contras-color);
        -webkit-text-stroke: 0.02em  var(--secondary-color);
        margin: 0;
        padding: 0.2em;
    }
    header div:nth-child(1) {
        display: flex;
        flex-direction: column;
    }
    header div:nth-child(2){
        display: flex;
        flex-wrap: nowrap;
        gap: 2rem;
    }
    header div  h2 {
        display: inline-block;
        font-family: var(--font-2);
        font-size: 5em;
        color: var(--contras-color);
        margin: 0; 
        -webkit-text-stroke: 0.02em  var(--secondary-color);
    }
    header div > img {
        height: 5rem;
        padding: 1rem;
        cursor: pointer;
    }
    #burgerCheck {
        display: none;
    }
    .burger {
        display: none;
        z-index: 5;
        color: var(--contras-color);
        width: auto; 
    }
    .burger:hover {
        cursor: pointer;
    }
    nav {
        display: inline-block;
        padding: 0em;
    }
    nav li {
        display: inline;
        list-style: none;
        color: var(--contras-color);
        font-size: 1.2em;
        text-decoration: none;
        padding-left: 0.8em;
        -webkit-text-stroke: 0.03em  var(--read-color)
    }
    nav li:hover {
        cursor: pointer;
        color: var(--accent-color);
    }

    /* COIN PAGE HOME */
    #CoinsSection {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        
    }
    .coinBox{
        display: flex;
        flex-direction: column;
        gap: 0.2rem;
        font-family:var( --font-1);
        background: rgba(0, 0, 0, 0.4);
        box-shadow: 1rem 1rem 2rem rgba(0,0,0,.5);
        color: var( --contras-color);
        width: 15rem;
        height: 10rem;
        border: 0.1rem solid var( --primary-color);
        margin: 0.5rem;
        padding: 0.8rem;
        
    }
    /* collapse  */
    .coinBox #prt1 {
        display: flex;
        flex-direction: row;
        gap: 0.2rem;
        width: 15rem;
        max-height: 6rem;
    height: auto;
    
    
    }
    /* name Div */
    .coinBox #prt1 div:nth-child(1) {
        font-size: 0.8rem;
        padding: 0.3rem;
        width: 10rem;
        padding: 0.2rem;
        overflow: scroll;
    }
    /* Add div */
    .coinBox #prt1 div:nth-child(2) {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        text-align: center;
        width: 2rem;
        padding: 0.2rem;
    }
    .coinBox #prt1 div:nth-child(2) p {
        font-size: 0.8rem;
    }

    /* Info div */
    .coinBox #prt2 { 
    width: 15rem;
    height: auto;
    padding: 0.2rem;
    }
    .coinBox button {
        font-size: 0.8rem;
        padding: 0.5em;
    }
    .coinBox .collapse {
        width: auto;
        height: auto;
        color:  #282828;
    }
    .CoinDetails{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        width: 100%;
        gap: 1rem;
    }
    .CoinDetails p {
        font-size: 1rem;
    }
    .CoinDetails img {
        width: 3rem;
        height: 3rem;
    }
    /* SearchBAR  + Section*/
    .Search {
        display: inline-block;
        background: var( --primary-color);
        padding: 0.2em;
        border-radius: 0.2em;
        position: sticky;
    }
    .Search label {
        cursor: pointer;
    }
    .Search label .bi-search {
        color: var(--read-color)
    }
    #CoinsSearchSection {
        position: fixed;
        left: 50%;
        top: 50%;
        transform: translate(-50% , -50%);
        background: rgba(255, 255, 255, 0.976);
        box-shadow: 0 15px 20px rgba(0,0,0,.2);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        z-index: 4;
        min-width: 30%;
        min-height: 30%;
        max-width: 80%;
        max-height: 80%;
        overflow: scroll;
    }
    .middle_bar {
        display: flex;
        flex-direction: row-reverse;
    }
    .counter_box {
        display: flex;
        flex-direction: row;
        padding: 0.2rem;
    }
    .counter_box  button {
        border-radius: 0.5rem;
        margin-left: 0.4rem ;
    }
    .counter_box  .go_compare {
        background: var(--primary-color);
        color: var(--read-color);
        font-family: var(--font-1);
        border: 0.1rem solid var(--contras-color);
        padding: 0 1rem 0 1rem;
    }
    .counter_box .clean_compare {
        display: none;
        border: 0.1rem solid var(--contras-color);
        
    }
    .CompareActive .go_compare{
        background: var(--accent-color);
        color: var(--contras-color);
    }
    .CompareActive .clean_compare {
        background: rgb(225, 64, 64);
        display: block;
    }
    
    #CoinsSearchSection h5 button  {
        border: none;
        background: red;
    }
    #CoinsSearchSection h5 {
        font-family: var(--font-2);
        padding-top: 1rem;
        font-weight: bold;
    }
    #CoinsSearchSection  .searchResult{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        overflow: scroll;
    }
    /* REPORT Banner CSS */
    .ReportBannerScreen{
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 7;
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: center;
        font-size: 1rem;
    }
    .BackDropReport {
        position: fixed;
        z-index: 6;
        background: rgba(255,255,255,.4);
        box-shadow: 0 15px 20px rgba(0,0,0,.2);
        width: 100%;
        height: 100%;
    }
    .ReportBanner {
        z-index: 6;
        background: var(--bg-color);
        color: var(--contras-color);
        font-family:var( --font-1);
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        gap: 0.5em;
        align-items: center;
        justify-content: center;
        padding: 1em;
        width: 80%;
        max-width: 40em;
        min-width: 30em;
        min-height: 30em;
        max-height: 40em;
        overflow: scroll;
        border-radius: 0.7rem;
        border: 0.2rem solid  var( --primary-color);
    }
    .reportList {
        width: 100%;
    }
    .CoinReportLine {
        display: flex;
        flex-direction: row;
        gap: 0.2rem;
        color: var(--secondary-color);
        display: flex;
        margin-bottom: 0.2rem;
        flex-direction: row; 
        width: 100%;
        height: 3.5em;
        border-top: 0.1em solid var( --primary-color);
    }
    .CoinReportLine span {
        display: flex;
        background: var(--contras-color);
        width: 2rem;
        align-items: center;
        justify-content: center;
        font-size: 1.2rem;
    }
    .CoinReportLine label {
        padding-left: 1rem;
        background: var(--contras-color);
        width: 90%;
        display: flex;
        flex-direction: column;
    }
    .CoinReportLine input[type="checkbox"]{
        width: 1.5em;
        height: 1.5em;
        align-self: flex-start;
        width: 3rem;
    }
    .EndReport {
        display: flex;
        flex-direction: row;
        padding: 1em;
        gap: 10em;
    }
    .EndReport button {
        border-radius: 0.5rem;
        width: 5em;
        height: 3em;
        font-weight: bold;
        padding: 0.5em;
    }
    .EndReport button:nth-child(1){
        border: 0.2 solid var(--contras-color);
        color:  var( --primary-color);
        background: rgb(39, 39, 39);
    }
    .EndReport button:nth-child(2){
        border: 0.1em solid var(--secondary-color);
        background: var( --primary-color);
        align-self: flex-end; 
        justify-self: flex-end;
    }
    /* CHART */
    #chartContainer{
        margin: 1rem;
        /* position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50% ,-50%); */
    }
    #chartSummery {
        border: 0.1rem solid black;
        padding: 1rem;
        background: rgba(255, 255, 255, 0.783);
        box-shadow: 0 15px 20px rgba(0,0,0,.2);
        width: 40%;
        min-width: 30rem;
        align-self: center;
       text-align: center;
    }
    #chartSummery h4 {
        font-family: var(--font-1);
    }
    #chartSummery p {
        font-family: var(--font-2);
        font-size: 1.3rem;
    }
    /* ABOUT PAGE */
    .about {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        width: 80%;
        background: rgba(255, 255, 255, 0.783);
        box-shadow: 0 15px 20px rgba(0,0,0,.2);
        text-align: center;
        align-items: center;
        justify-content: center;
        margin: 1rem;
    }
    .about > h3 {
        color: var(--read-color);
        padding-top: 1rem;
        font-size: 3rem;
    }
    .about article{
        font-size: 1.3rem;
        line-height: 2rem;
        align-self: center;
        justify-self: center;
        width: 100%;
        padding-left: 2rem;
        padding-right: 2rem;
        color: var(--read-color);
        text-align: start;
    }
    /* FEED PAGE */
    .LiveFeeds {
        display: flex;
        flex-direction: column;
        width: 90%;
    }
    .emptyFeeds {
        display: flex;
        flex-direction: column;
        font-size: 1.2rem;
        line-height: 2rem;
        text-align: center;
        width: 80%;
        color: var(--secondary-color);
        background: rgba(255,255,255,.4);
        box-shadow: 0 15px 20px rgba(0,0,0,.2);
        text-align: center;
        padding: 3em;
        margin: 1rem;
    }

    footer{
        margin-top: auto;
        display: flex;
        background: var(--bg-color);
        color: var(--primary-color);
        height: 4rem;
        align-items: center;
        justify-content: center;
    }
    .new_alert{
        display: flex;
        flex-direction: column;
        position: fixed;
        width: 20rem;
        left: 50;
        top: 50%;
        transform: translate( 0%, -50%);
        background: rgba(255, 255, 255, 0.914);
        box-shadow: 0 15px 20px rgba(0,0,0,.2);
        padding: 1rem;
        border-radius: 0.3rem;
        z-index: 20;
    }
    .alert_head {
        display: flex;
        flex-direction: row;
        align-items: baseline;
        border-bottom: 0.2rem solid var(--secondary-color);
        padding: 0.1rem;
    }
    .alert_head h5 {
        color: red;
     -webkit-text-stroke: 0.02rem black;
      padding-left: 1rem;
    }
    .alert_head button {
        border: none;
    }
    .alert_head button i {
        font-size: 1.2rem;
    }
    


/* SMART PHONES */
@media screen and ( max-width: 767px){
    body {
        background-size: 300%;
        background-position: center;
    }
    /* LOADER Progress Bar */
    #LoaderDIV {
        background-size: 300%;
        background-position: center;
    }
    /* Header */
    header h1  {
        font-size: 2rem;
    }
    header div:nth-child(1) {
        display: flex;
        flex-direction: row-reverse;
        align-items: baseline;
    } 
    header div  h2 {
        font-size: 3.5em;
    }
    nav ul{
        display: none;
        position: fixed;
        width: 100%;
        height: 100vh;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        background: var(--bg-color);
        text-align: start;
        align-items: center;
        justify-content: center;
        margin: 0;
        padding: 0;
        z-index: 2;
    }
    nav ul li { 
        padding: 1rem;
        border-bottom: 0.3rem solid var(--secondary-color);
        color:var(--primary-color)
    }
    nav ul li:hover {
        color: var(--contras-color);
        font-weight: bold;
        font-size: 2rem;
    }
    nav ul li:enabled ~ nav ul {
        display: none;
    }
     /* Checked Burger */
     .burger {
        display: block;
        font-size: 2rem;
     }
     .burger .bi-x{
        display: none;
        position: absolute;
        left: 50%;
        transform: translate(-50%, -50%);
     }
    #burgerCheck:checked ~  .burger .bi-list{
        display: none;
    } 
    #burgerCheck:checked ~ .burger .bi-x,
    #burgerCheck:checked ~nav ul{
        display: flex;
        flex-direction: column;
    } 
    .counter_box {
        font-size: 0.8rem;
    }
    
    .coinBox{
        font-size: 0.1rem; 
        width: 10rem;
        height: 8rem; 
        padding: 0.4rem;
    }
    .coinBox #prt1 {
        display: flex;
        flex-direction: row;
        gap: 0.2rem;
        width: 9rem;
        max-height: 4.5rem;
        height: auto;
    }
    /*     /* name Div */
    .coinBox #prt1 div:nth-child(1) {
        font-size: 0.7rem;
        width: 6;
        overflow: scroll;
    }
    .coinBox #prt1 div:nth-child(1) h5 {
        font-size: 1rem;
    }
    /* Add div */
    .coinBox #prt1 div:nth-child(2) {
        width: 4rem;
        font-size: 1rem;
    }
    .coinBox #prt1 div:nth-child(2) p {
        font-size: 0.7rem;
    }
    
    /* Info div */
    .coinBox #prt2 { 
        width: 9rem;
        height: auto;
        padding: 0.2rem;
    
    }
    .coinBox button {
        padding: 0.5em;
    }
    .coinBox .collapse {
        width: 13rem;
        height: auto;
        color:  #282828;
        padding: 0;
        margin: 0;
    } 
    .CoinDetails p {
        font-size: 0.8rem;
        
    }
    .CoinDetails img {
        width: 3rem;
        height: 3rem;
    }
    /* FEED PAGE */
    .LiveFeeds {
        width: 90%;
    }
    .emptyFeeds {
        font-size: 1rem;
        line-height: 1.5rem;
        width: 90%;
        padding: 1em;
        margin: 1rem;
    }
    /* ABOUT PAGE */
    .about {
        width: 95%;
    }
    .about article{
        font-size: 1rem;
        line-height: 1.5rem;
        width: 100%;
        color: var(--read-color);
        padding: 1em;
    }

}

/* TABLETS */
@media screen and ( min-width: 767px) and ( max-width: 1023px){
    body {
        background-size: cover;
        background-position: center;
    }
     /* LOADER Progress Bar */
     #LoaderDIV {
        background-size: 300%;
        background-position: center;
    }
    
    /* nav ul{
        display: none;
    } */
}

